@import url(");

  /* @import url("/cours/dai/required_files/HTMLkickstart_postBJ.css"); */

  /* Document */

  div.body h1, div.body h2, div.body h3, div.body h4 {
    font-family: "Ubuntu", "Ubuntu Beta", "Bitstream Vera Sans", DejaVu Sans, Tahoma, sans-serif;
    font-size: 100%;
  }

  div.body h1 {
    font-weight: bold;
    font-size: 200%;
    color: #C6093B;
    text-align: center;
    line-height: 100%;
  }

  div.body h2 {
    font-weight: bold;
    font-size: 180%;
    color: #E95325;
    border-bottom: 3px solid #E95325;
  }

  div.body h3 {
    font-weight: bold;
    font-size: 160%;
    color: #F39539;
  }

  div.body h4 {
    font-weight: bold;
    font-size: 140%;
    color: orange;
  }

  div.body .highlight pre {
    background-color: #FDF6E3;
  }

  div.body .linenodiv pre {
    color: #E4DECC;
  }

  /* Commun */
  .strike {
    text-decoration: line-through;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    _background-color: yellow;
  }

  /* Slides */

  .slides .demo {
    margin-left: 15%;
    margin-right: 15%;
  }

  .slides .demo button {
    font-size: large;
  }